.container {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  background-color: var(--primary-color-white);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 165px;
  bottom: 131px;

  cursor: url("../../assets/shared/icon-cursor.svg"), auto;

  h4.title {
    color: var(--primary-color-black);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
  }
}
.container:hover {
  box-shadow: 0px 0px 88px 88px var(--primary-button-hover);
}
