.container-destination {
  width: 100%;
  .container-content {
    width: 445px;
    position: absolute;
    top: 310px;
    right: 163px;
    .container-tab {
      height: 34px;
      display: flex;
      align-items: flex-start;
      gap: 35px;
      cursor: url("../../../public/assets/shared/icon-cursor.svg"), auto;
      span {
        color: var(--primary-color-butterfly);
      }
      span.active,
      span:hover {
        padding-bottom: 12px;
        color: var(--primary-color-white);
        border-bottom: 3px solid var(--primary-color-white);
      }
      span.active {
        border-bottom: 3px solid var(--primary-color-white);
      }
      span:hover {
        border-bottom: 3px solid var(--primary-color-hover);
      }
    }
  }
}
@media screen and (max-width: 1444px) and (min-width: 768px) {
  .container-destination {
    .container-content {
      position: absolute;
      top: 136px;
      left: 36.5px;
    }
  }
}
