.container-destination {
  .container-title {
    display: inline-flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 28px;

    position: absolute;
    top: 212px;
    left: 166.5px;
    h5.title-id {
      font-weight: 700;
      margin: 0px;
      color: var(--primary-color-white);
      opacity: 0.25;
    }
    h5.title-content {
      font-weight: 400;
      margin: 0px;
      color: var(--primary-color-white);
      text-transform: uppercase;
    }
  }
  .container-content {
    width: 445px;
    position: absolute;
    top: 310px;
    right: 163px;
    .container-tab {
      height: 34px;
      display: flex;
      align-items: flex-start;
      gap: 35px;
      cursor: url("../../../public/assets/shared/icon-cursor.svg"), auto;
      span {
        color: var(--primary-color-butterfly);
      }
      span.active,
      span:hover {
        padding-bottom: 12px;
        color: var(--primary-color-white);
        border-bottom: 3px solid var(--primary-color-white);
      }
      span.active {
        border-bottom: 3px solid var(--primary-color-white);
      }
      span:hover {
        border-bottom: 3px solid var(--primary-color-hover);
      }
    }
  }
  .container-image {
    position: absolute;
    top: 320px;
    left: 240px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .container-destination {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .container-image,
    .container-content {
      position: unset;
    }
    .container-title {
      top: 136px;
      left: 38.5px;
      .title-id,
      .title-content {
        font-size: 20px;
        letter-spacing: 3.375px;
      }
    }
    .container-image {
      width: 300px;
      padding-top: 220px;
      padding-bottom: 53px;
    }
    .container-content {
      width: 573px;
      .container-tab {
        justify-content: center;
        span {
          font-size: 16px;
          letter-spacing: 2.7px;
        }
        span.active,
        span:hover {
          padding-bottom: 12px;
        }
      }
      .container-tab-content {
        text-align: center;
        h2.tabPlanet-title {
          margin: 32px 0px 8px;
          font-size: 80px;
          font-weight: 400;
        }
        .bodyText {
          margin: 0px 0px 49px;
          font-size: 16px;
          line-height: 28px;
        }
        .container-subHeading {
          p.subHeading2 {
            margin: 29px 0px 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container-destination {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .container-image,
    .container-content {
      position: unset;
    }
    .container-title {
      top: 89px;
      left: unset;
      .title-id,
      .title-content {
        font-size: 16px;
        letter-spacing: 2.7px;
      }
    }
    .container-image {
      width: 170px;
      height: 170px;
      padding-top: 140px;
      padding-bottom: 26px;
    }
    .container-content {
      width: 327px;
      .container-tab {
        justify-content: center;
        gap: 26px;
        span {
          font-size: 14px;
          letter-spacing: 2.362px;
        }
        span.active,
        span:hover {
          padding-bottom: 8px;
        }
      }
      .container-tab-content {
        text-align: center;
        h2.tabPlanet-title {
          margin: 12px 0px 1px;
          font-size: 56px;
          font-weight: 400;
        }
        .bodyText {
          margin: 0px 0px 32px;
          font-size: 15px;
          line-height: 25px;
        }
        .container-subHeading {
          display: unset;
          p.subHeading2 {
            margin: 32px 0px 12px;
          }
        }
      }
    }
  }
}
