.logo {
  position: absolute;
  top: 64px;
  left: 55px;
  cursor: url("../../../public/assets/shared/icon-cursor.svg"), auto;
  z-index: 1;
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .logo {
    top: 24px;
    left: 39px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    top: 24px;
    left: 24px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
