// Desktop
.home,
.destination,
.crew,
.technology {
  mix-blend-mode: screen;
  min-height: 100vh;
  color: #ffffff;
}

.home {
  background: url(../../public/assets/home/background-home-desktop.jpg)
    lightgray 0px 0px / 100% 100% no-repeat;
}

.destination {
  background: url(../../public/assets/destination/background-destination-desktop.jpg)
    lightgray 0px 0px / 100% 100% no-repeat;
}
.crew {
  background: url(../../public/assets/crew//background-crew-desktop.jpg)
    lightgray 0px 0px / 100% 100% no-repeat;
}
.technology {
  background: url(../../public/assets/technology/background-technology-desktop.jpg)
    lightgray 0px 0px / 100% 100% no-repeat;
}

//Mobile
.homePage {
  .toggle {
    display: none;
  }
}
// Responsive table and mobile styles
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .home {
    background: url(../../public/assets/home/background-home-tablet.jpg)
      lightgray 0px 0px / 100% 100% no-repeat;
  }
  .destination {
    background: url(../../public/assets/destination/background-destination-tablet.jpg)
      lightgray 0px 0px / 100% 100% no-repeat;
  }
  .crew {
    background: url(../../public/assets/crew//background-crew-tablet.jpg)
      lightgray 0px 0px / 100% 100% no-repeat;
  }
  .technology {
    background: url(../../public/assets/technology/background-technology-tablet.jpg)
      lightgray 0px 0px / 100% 100% no-repeat;
  }
}
//Mobile
.homePage {
  .toggle {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .home {
    background: url(../../public/assets/home/background-home-mobile.jpg)
      lightgray 0px 0px / 100% 100% no-repeat;
  }
  .destination {
    background: url(../../public/assets/destination/background-destination-mobile.jpg)
      lightgray 0px 0px / 100% 100% no-repeat;
  }
  .crew {
    background: url(../../public/assets/crew//background-crew-mobile.jpg)
      lightgray 0px 0px / 100% 100% no-repeat;
  }
  .technology {
    background: url(../../public/assets/technology/background-technology-mobile.jpg)
      lightgray 0px 0px / 100% 100% no-repeat;
  }
  .homePage {
    .toggle {
      display: block;
      img {
        position: absolute;
        top: 34px;
        right: 26px;
        cursor: url("../../public/assets/shared/icon-cursor.svg"), auto;
        z-index: 2;
      }
    }
  }
}
