.container-tech {
  height: 100vh;
  .container-title {
    display: inline-flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 24px;

    position: absolute;
    top: 212px;
    left: 166.5px;
    h5.title-id {
      font-weight: 700;
      margin: 0px;
      color: var(--primary-color-white);
      opacity: 0.25;
    }
    h5.title-content {
      font-weight: 400;
      margin: 0px;
      color: var(--primary-color-white);
      text-transform: uppercase;
    }
  }
  .tech-content {
    width: 488px;
    position: absolute;
    top: 400px;
    left: 165px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    .tech-button {
      display: flex;
      flex-direction: column;
      gap: 32px;

      cursor: url("../../../public/assets/shared/icon-cursor.svg"), auto;
      span.circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid #d0d6f9;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
      }
      span.active,
      span:hover {
        background-color: var(--primary-color-white);
        color: #0b0d17;
      }
      span:hover {
        background-color: gray;
      }
    }
  }
  .container-image {
    position: absolute;
    bottom: 100px;
    right: 0px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .container-tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .container-content {
      position: unset;
    }
    .container-title {
      top: 136px;
      left: 38.5px;
      .title-id,
      .title-content {
        font-size: 20px;
        letter-spacing: 3.375px;
      }
    }
    .container-image {
      width: 100%;
      height: 310px;
      object-fit: cover;
    }
    .tech-content {
      display: flex;
      flex-direction: column;
      position: unset;
      width: 458px;
      padding-top: 546px;
      gap: 44px;
      .tech-button {
        flex-direction: row;
        gap: 16px;
        justify-content: center;
      }
      .tech-slider {
        justify-content: center;
        gap: 16px;
        position: unset;
        span.circle {
          width: 10px;
          height: 10px;
        }
      }
      .container-slider-content {
        text-align: center;
      }
    }
    .container-image {
      top: 220px;
    }
  }
}
@media screen and (max-width: 768px) {
  .container-tech {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .container-content,
    .container-image {
      position: unset;
    }
    .container-title {
      top: 88px;
      left: unset;
      .title-id,
      .title-content {
        font-size: 16px;
        letter-spacing: 2.7px;
      }
    }
    .container-tab-image {
      .container-image {
        height: 222px;
      }
    }
    .tech-content {
      display: flex;
      flex-direction: column;
      position: unset;
      width: 327px;
      padding-top: 32px;
      .tech-slider {
        justify-content: center;
        gap: 16px;
        margin-bottom: 32px;
        position: unset;
        span.circle {
          width: 10px;
          height: 10px;
        }
      }
      .container-slider-content {
        text-align: center;
      }
    }
  }
}
