.container-crew {
  height: 100vh;
  .container-title {
    display: inline-flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 24px;

    position: absolute;
    top: 212px;
    left: 166.5px;
    h5.title-id {
      font-weight: 700;
      margin: 0px;
      color: var(--primary-color-white);
      opacity: 0.25;
    }
    h5.title-content {
      font-weight: 400;
      margin: 0px;
      color: var(--primary-color-white);
      text-transform: uppercase;
    }
  }
  .crew-content {
    width: 488px;
    position: absolute;
    top: 400px;
    left: 165px;
    .crew-slider {
      display: flex;
      align-items: flex-start;
      gap: 24px;

      position: absolute;
      top: 354px;
      cursor: url("../../../public/assets/shared/icon-cursor.svg"), auto;
      span.circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--primary-color-hover);
      }
      span.active,
      span:hover {
        background-color: var(--primary-color-white);
      }
      span:hover {
        background-color: gray;
      }
    }
  }
  .container-image {
    position: absolute;
    bottom: 0px;
    right: 137px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .container-crew {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-content {
      position: unset;
    }
    .container-title {
      top: 136px;
      left: 38.5px;
      .title-id,
      .title-content {
        font-size: 20px;
        letter-spacing: 3.375px;
      }
    }
    .container-image {
      height: 370px;
      left: 40%;
    }
    .crew-content {
      display: flex;
      flex-direction: column-reverse;
      position: unset;
      width: 450px;
      padding-top: 220px;
      .crew-slider {
        justify-content: center;
        gap: 16px;
        position: unset;
        span.circle {
          width: 10px;
          height: 10px;
        }
      }
      .container-slider-content {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container-crew {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .container-image,
    .container-content {
      position: unset;
    }
    .container-title {
      top: 89px;
      left: unset;
      .title-id,
      .title-content {
        font-size: 16px;
        letter-spacing: 2.7px;
      }
    }
    .container-image {
      width: 170px;
      height: 170px;
      padding-top: 140px;
      padding-bottom: 26px;
    }
    .crew-content {
      width: 327px;
      .crew-slider {
        justify-content: center;
        gap: 26px;
        span {
          font-size: 14px;
          letter-spacing: 2.362px;
        }
        span.active,
        span:hover {
          padding-bottom: 8px;
        }
      }
      .container-slider-content {
        text-align: center;
      }
    }
  }
}
