.navbar-mobile {
  width: 254px;
  height: 100vh;

  position: absolute;
  right: 0;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  ul {
    margin: 118px 0px 0px 32px;

    display: grid;
    align-items: center;
    gap: 32px;
    cursor: url("../../../public/assets/shared/icon-cursor.svg"), auto;
    li {
      color: var(--primary-color-white);
      font-weight: 700;
      list-style: none;
      line-height: 31px;
      .content {
        font-weight: 400;
        margin-left: 12px;
      }
    }
    li.active,
    li:hover {
      width: 100%;
      line-height: 31px;
    }
    li.active {
      border-right: 3px solid var(--primary-color-white);
    }
    li:hover {
      border-right: 3px solid var(--primary-color-hover);
    }
  }
  z-index: 1;
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  .navbar {
    width: 450px;
    top: 0px;
    ul {
      padding: 0px;
      gap: 37px;
      li {
        .number {
          display: none;
        }
        .content {
          margin-left: 0px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
