.container-title {
  display: inline-flex;
  padding-right: 0px;
  align-items: flex-start;
  gap: 28px;

  position: absolute;
  top: 212px;
  left: 166.5px;
  h5.title-id {
    font-weight: 700;
    margin: 0px;
    color: var(--primary-color-white);
    opacity: 0.25;
  }
  h5.title-content {
    font-weight: 400;
    margin: 0px;
    color: var(--primary-color-white);
    text-transform: uppercase;
  }
  .container-image {
    margin-top: 97px;
  }
}
@media screen and (max-width: 1444px) and (min-width: 768px) {
  .container-title {
    top: 136px;
    left: 38.5px;
  }
}